version: '3.7'

services:
  kong:
    image: kong:3.4
    container_name: kong-gateway
    restart: always
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001, 0.0.0.0:8444 ssl
      KONG_PLUGINS: bundled,custom-auth
      KONG_LUA_PACKAGE_PATH: /usr/local/share/lua/5.1/?.lua;;
    volumes:
      - ./kong.yml:/kong/declarative/kong.yml
      - ./plugins:/usr/local/share/lua/5.1/kong/plugins
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
    networks:
      - expense-network

  konga:
    image: pantsel/konga
    container_name: konga
    restart: always
    ports:
      - "1337:1337"
    environment:
      NODE_ENV: production
    networks:
      - expense-network

networks:
  expense-network:
    external: true
